<% provide :title, t(".about")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | t ".rails" </title>
  </head>
  <body>
    <h1><%= t ".about" %></h1>
    <p>
      The <a href="http://www.railstutorial.org/"><em><%= t ".rails"%>
      </em></a> <%= t ".is" %>
      <a href="http://www.railstutorial.org/book"><%= t ".book" %></a><%= t ".and" %>
      <a href="http://screencasts.railstutorial.org/"><%= t ".screen" %></a>
      <%= t ".a" %>
      <a href="http://rubyonrails.org/"><%= t "Ruby" %></a>.
      <%= t ".sample" %>
    </p>
  </body>
</html>
